# How to add your domain to your discord profile

1. Create your domain
![dashboard](/dashboard_domain.png)

2. Add your domain in discord
![discord](/discord_connections_more.png)
![discord](/discord_connections_domain.png)
![discord](/discord_domain_verification.png)

3. Create a TXT record
![dashboard](/dashboard_new_txt.png)

4. Edit the TXT record to have your verification code
![dashboard](/dashboard_discord_verif.png.png)

5. Verify on Discord


> [!NOTE]
> It may take a while for Discord to detect the changes in the DNS record.